body {
    background-color: #222;
    color: greenyellow;
    font-family: monospace;
}

header,
section,
footer {
    max-width: 1024px;
    margin: 3em auto;
}

header {
    display: flex;
    gap: 32px; 
    border-bottom: 1px solid #111;
    padding-bottom: 1em;
}

nav {
    display: flex;
    gap: 8px; 
}

nav a {
    color: plum;
    text-decoration: none;
    display: block;
    padding: 2px;
    border-radius: 4px;
    background-color: #333;
}

nav a:hover {
    color: chartreuse;
    background-color: darkolivegreen;
}

nav a:visited {
    color: rgb(99, 193, 5);
}


section {
    padding: 0 1em;
    border-left: 3px solid #333;
}